<<<<<<< HEAD
.toastMessage {
    background: rgb(107, 159, 141);
    color: #ffffff;
    font-size: 15px;
    width: 24vw;
    padding: 15px 20px;
}
=======
.toastMessage {
    background: rgb(107, 159, 141);
    color: #ffffff;
    font-size: 15px;
    width: 24vw;
    padding: 15px 20px;
}
>>>>>>> 6b2f24819b3e72ab1e9794ed5305bf1385bd4d64
